<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="grace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <grace.Properties.Settings>
            <setting name="rowheight" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="headerheight" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="rowsperpage" serializeAs="String">
                <value>60</value>
            </setting>
        </grace.Properties.Settings>
    </userSettings>
</configuration>